<!DOCTYPE html>
<html>
	<head>
		<!-- css here -->
		<link rel="stylesheet" href="../css/popup.css">
		<link rel="stylesheet" href="../css/jquery-ui.css">
	</head>
	
	<body>
		<canvas id="myCanvas" width="578" height="200"></canvas>
	   	<div id="drag_resize" class="ui-widget-content ui-resizable">
		   	<div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
		   	<div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div>
		   	<div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
		   	<div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div>
	   		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se"></div>
	   	</div>
	   	<script src="../js/jquery.min.js"></script>
		<script src="../js/jquery-ui.js"></script>
		<script src="../js/script.js"></script>
	</body>
</html>